:root {
  --color-dark-gray: #d9dcdf;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #e6e6e6;
}

.visuallyHidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
  display: block !important;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  padding: 0 16px 16px;
  flex-grow: 1;
}

.header {
  padding: 20px 0;
}

.header h1 {
  margin: 0;
  text-align: center;
}

.mainNav {
  display: flex;
}

.mainNav button {
  flex-basis: 100%;
  background: transparent;
  border-color: transparent;
  padding: 16px;
  border-bottom: 1px solid var(--color-dark-gray);
}

.mainNav button.active {
  background-color: #fff;
  border-color: var(--color-dark-gray) var(--color-dark-gray) #fff;
  border-radius: 3px 3px 0 0;
}

.sections {
  /*display: flex;*/
  background-color: #fff;
}

.section {

}

.section.users ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.section.users ul li {
  padding: 16px;
  border-bottom: 1px solid #e6e6e6;
}

.section.chat {
  padding: 16px;
}

.section.chat ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.section.chat ul li {
  padding: 16px 0;
}

.section.hidden {
  display: none;
}

.sendMessageForm {
  position: relative;
}

.sendMessageForm input {
  height: 32px;
  display: block;
  width: 100%;
  border: 1px solid var(--color-dark-gray);
  border-radius: 3px;
  padding: 8px 32px 8px 8px;
}

.sendMessageForm button {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
}

@media (min-width: 766px) {
  .mainNav {
    display: none;
  }

  .sections {
    display: flex;
  }

  .section {
    flex-grow: 1;
  }

  .section.users {
    width: 100%;
    max-width: 256px;
  }

  .section.hidden {
    display: block;
  }
}

/*@media (max-width: 500px) {*/
/*  */
/*}*/
